streamlit
numpy
nibabel
matplotlib
torch
pandas
plotly
imageio
joblib
opencv-python
scikit-image
scipy
tqdm
scikit-learn
fastapi
uvicorn[standard]
kaleido==0.2.1
python-multipart
monai
lightning
torchvision
tensorboard
